@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 1turn;
  inherits: false;
}

body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}

.hero-join-button {
  background: linear-gradient(
    var(--gradient-angle),
    rgba(49, 120, 196, 0.7),
    rgba(49, 120, 196, 0.3),
    #3178c6,
    rgba(49, 120, 196, 0.5)
  );
}

.hero-join-button,
.hero-join-button-dark {
  animation: gradient-rotate 5s linear infinite reverse;
}

.hero-join-button-dark {
  background: linear-gradient(
    var(--gradient-angle),
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0.1),
    #fff,
    hsla(0, 0%, 100%, 0.3)
  ) !important;
}

.wl-form-button {
  background: linear-gradient(
    var(--gradient-angle),
    #34d399,
    #60a5fa,
    #f8f,
    #f84
  );
  animation: gradient-rotate 5s linear infinite reverse;
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 360deg;
  }

  to {
    --gradient-angle: 0deg;
  }
}

.moving-grid-background {
  will-change: transform;
  background-size: 3rem 3rem;
  background-image: linear-gradient(90deg, #8882 1px, transparent 0),
    linear-gradient(180deg, #8882 1px, transparent 0);
  animation: movingbackground 90s linear infinite !important;
}

@keyframes movingbackground {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .moving-grid-background {
    animation: none !important;
  }
}
