@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-angle: 360deg;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-hovered: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 211 61% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --difficulty-beginner: 201 96% 32%;
    --difficulty-easy: 150 100% 25%;
    --difficulty-medium: 35 92% 33%;
    --difficulty-hard: 0 72% 51%;
    --difficulty-extreme: 262 83% 58%;

    --difficulty-beginner-dark: 199 69% 72%;
    --difficulty-easy-dark: 142 77% 73%;
    --difficulty-medium-dark: 31 86% 60%;
    --difficulty-hard-dark: 0 91% 71%;
    --difficulty-extreme-dark: 269 97% 85%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-hovered: 240 10% 6.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 211 61% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 1turn;
  inherits: false;
}

body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}

.hero-join-button {
  background: linear-gradient(
    var(--gradient-angle),
    rgba(49, 120, 196, 0.7),
    rgba(49, 120, 196, 0.3),
    #3178c6,
    rgba(49, 120, 196, 0.5)
  );
}

.hero-join-button,
.hero-join-button-dark {
  animation: gradient-rotate 5s linear infinite reverse;
}

.hero-join-button-dark {
  background: linear-gradient(
    var(--gradient-angle),
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0.1),
    #fff,
    hsla(0, 0%, 100%, 0.3)
  ) !important;
}

.wl-form-button {
  background: linear-gradient(
    var(--gradient-angle),
    #34d399,
    #60a5fa,
    #f8f,
    #f84
  );
  animation: gradient-rotate 5s linear infinite reverse;
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 360deg;
  }

  to {
    --gradient-angle: 0deg;
  }
}

.moving-grid-background {
  will-change: transform;
  background-size: 3rem 3rem;
  background-image: linear-gradient(90deg, #8882 1px, transparent 0),
    linear-gradient(180deg, #8882 1px, transparent 0);
  animation: movingbackground 90s linear infinite !important;
}

@keyframes movingbackground {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .moving-grid-background {
    animation: none !important;
  }
}
